// Define variables for your color scheme

// For example:
$light: #eef4ed;
$red: #FD1015;
$blue: #5bc0be;
$blue-light: #6fffe9;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #005f73;
$light-gray: #3a506b;
$medium-gray: #1c2541;
$dark-gray: #0b132b;

